* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #filterInput {
    background-color: #f5f5f5;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 10px;
  }
  .containter input {
    background-color: grey;
    padding: 0.5rem;
    border-radius: 10px;
  }
  .users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .users .card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    text-align: center;
    border: 2px solid gray;
  }
  .users .card img {
    max-width: 150px;
  }
  .hidden {
    display: none;
  }
  #showMore {
    margin-bottom: 1rem;
  }
  #loading {
    margin: 2rem 0;
  }